:root {
    --background-dark: #242424;
    --background-darker: #111111;
    --pietsmiet-green: #007743;
}

body, #app {
    background: var(--background-darker) !important;
}
main.container,
.dropdown,
.bg-white {
    background: var(--background-dark) !important;
    color: white !important;
}

.text-smoke {
    color: lightgray !important;
}
.text-smoke-darker{
    color: darkgray !important;
}

.collapse .more,
.ob-widget-section .ob-widget-header {
    color: gray !important;
}
.item.disabled,
.text-muted {
    color: dimgray !important;
}
