/* Hintergrund und Textfarbe der Hauptseite */
body,
iframe,
.well {
    background: #111111 !important;
    color: #fff !important;
}

/* Hintergrund und Textfarbe des Video-Containers */
main.container,
.bg-white {
    background: #242424 !important;
    color: #fff !important;
}

/* Farben der Navigations-Flyouts */
div.dropdown, div.dropdown > div {
    background: #007743 !important;
    color: #fff !important;
}

/* Farben der Popups (z.B. Datenschutz-Infos) */
.modal,
.modal-header,
.modal-body,
.modal-footer {
    background: #242424 !important;
    color: #fff !important;
}
.modal-footer > .button-secondary {
    background: darkred;
}

/* Breadcrumbs */
ol.list-reset > div.mr-3 {
    color: white;
}
ol.list-reset > li.mr-3.active {
    color: white;
    text-decoration: underline;
}

/* Explizit Textfarbe für... */
.media * /* Titel+Text unter Thumbnails */ {
    color: #fff !important;
}
.text-muted /* Untertext unter Artikeln */ {
    color: rgba(255, 255, 255, 0.6);
}

/* Profil bearbeiten-Seite */
.profile-edit form,
.profile-edit legend,
.profile legend {
    background: #242424 !important;
    color: white !important;
}
