/* Hintergrund und Textfarbe der Hauptseite */
body,
iframe {
    background: #111111 !important;
    color: #fff !important;
}

/* Hintergrund und Textfarbe des Video-Containers */
.main .container,
.pagenav {
    background: #242424 !important;
    color: #fff !important;
}
a.pagenav {
    color: #0b8043 !important;
}

/* Textfarbe für alle Überschriften */
h1,
h2,
h3,
h4,
h5 {
    color: #fff !important;
}

/* Textfarbe für alle Überschriften-Links... */
h1 a:link,
h2 a:link,
h3 a:link,
h4 a:link,
h5 a:link {
    color: #fff !important;
}

/* ...auch die bereits besuchten */
h1 a:visited,
h2 a:visited,
h3 a:visited,
h4 a:visited,
h5 a:visited {
    color: #fff !important;
}

/* Explizit Textfarbe für... */
.latestnews-headline, /* Newsüberschriften */
.ob-rec-text, /* Anzeigenüberschriften */
.breadcrumb li.active, /* aktives Breadcrumb */
.comment-body /* Kommentare */ {
    color: #fff !important;
}

/* Breadcrumbs etwas dunkler/grauer */
.breadcrumb a {
     color: #999 !important;
}

/* Break-Farbe von Beige auf Weiß zu Schwarz auf Grau */
hr {
    border-top: 1px solid #111111 !important;
    border-bottom: 1px solid #242424 !important;
}
